.homeImgCarusel {
  position: relative;
  padding: 24px;
  height: 91vh;
  width:100%;
  align-items: center;


}

.caruselHomeImg {
height: 900px;
width:700px;
margin: 0 auto;

}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color:black;
  
}


.slides {
  position: relative;
  color: black;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
  
}

.slides .slick-prev {
  left: 5%;
  background-color: black;
  border-radius: 50%;
 
}

.slides .slick-next {
  right: 5%;
  background-color: black;
  border-radius: 50%;
  
}